.app {
  display: flex;
}
.shop {
  width: 70%;
  height: 100vh;
  padding: 20px;
  background: rgba(128, 128, 128, 0.164);
}
.cart {
  width: 30%;
  padding: 20px;
}
.product {
  display: flex;
}

.product .item {
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40vh;
  border: 1px solid gray;
  margin: 10px;
}
.item button {
  background: gray;
  padding: 5px 10px;
  color: white;
}
